
@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import "tailwindcss";


@theme{
  --font-gsc: "Google Sans Code", monospace;
  --font-stm: "Share Tech Mono", monospace;
}

*{
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

/* scrollbar width */
::-webkit-scrollbar {
  width: 8px;
}

/* the track (background) */
::-webkit-scrollbar-track {
  background: white;
}

/* the draggable handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* the arrows on both ends */
::-webkit-scrollbar-button {
  background: black;
  display: block;
  height: 8px;
}

/* up arrow */
::-webkit-scrollbar-button:vertical:decrement {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
  background: black;
}

/* down arrow */
::-webkit-scrollbar-button:vertical:increment {
  clip-path: polygon(50% 100%, 0% 0%, 100% 0%);
  background: black;
}

#picture{
  position: relative;
  z-index: 0;
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

#picture::after, #picture::before{
  content:'';
  position: absolute;
  height: 90%;
  width: 90%;
  background-image: conic-gradient(
    from var(--angle), 
    transparent 50%, 
    white
    );
  border-radius: 100%;
  z-index: -1;
  top: 50%;
  left: 46%;
  translate: -50% -50%;
  animation: 3s spin linear infinite;
}

#picture::before{
  filter: blur(1.5rem);
}

@keyframes spin {
  from {
    --angle:0deg;
  }
  to{
    --angle:360deg;
  }
}

nav a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

/* the underline */
nav a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px; /* adjust thickness */
  background: black; /* adjust color */
  transition: width 0.3s ease;
}

/* hover - line fills from left to right */
nav a:hover::after {
  width: 100%;
}

/* active state - line stays visible */
nav a.active::after {
  width: 100%;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  animation: scroll 60s linear infinite;
}

/* Pause on hover */
.animate-scroll:hover {
  animation-play-state: paused;
}